__pycache__/

output/
data/

.vscode

VIGIL - CLIPZeroshot
python train.py --gpu 1 --output-dir output/CLIPZeroShot/Vit_B32/ImageNet  --dataset ImageNet --model CLIPZeroShot --model-config-file config/clipzeroshot.yaml

CoOp - CLIPZeroshot
python train.py --root ./datasets --trainer ZeroshotCLIP --dataset-config-file configs/datasets/imagenet.yaml --config-file configs/trainers/CoOp/vit_b32.yaml --output-dir output/ZeroshotCLIP/vit_b32/imagenet --eval-only

VIGIL - CLIPLinearProbe
python train.py --gpu 6 --output-dir output/CLIPZeroshot/Vit_B32/Digit  --dataset Digits --source-domains mnist_m svhn syn --target-domains mnist --model CLIPLinearProbe --model-config-file config/cliplinearprobe.yaml


VIGIL - CoOp
python train.py --gpu 6 --seed 42 --output-dir output/CoOp/Vit_B32 --dataset ImageNet --model CoOp --model-config-file config/coop.yaml

# Mismatch
python train.py --gpu 6 --seed 42 --output-dir output/CoOp/Vit_B32 --dataset ImageNetA --model CoOp --model-config-file config/coop.yaml
python train.py --gpu 6 --seed 42 --output-dir output/CoOp/Vit_B32 --dataset ImageNetR --model CoOp --model-config-file config/coop.yaml
python train.py --gpu 6 --seed 42 --output-dir output/CoOp/Vit_B32 --dataset ImageNetV2 --model CoOp --model-config-file config/coop.yaml
python train.py --gpu 6 --seed 42 --output-dir output/CoOp/Vit_B32 --dataset ImageNetSketch --model CoOp --model-config-file config/coop.yaml


CoOp - CoOp
python train.py --root ./datasets --seed 42 --trainer CoOp --dataset-config-file configs/datasets/imagenet.yaml --config-file configs/trainers/CoOp/vit_b32.yaml --output-dir output/CoOp/vit_b32/imagenet

# Mismatch
python train.py --root ./datasets --seed 42 --trainer CoOp --dataset-config-file configs/datasets/imagenet_a.yaml --config-file configs/trainers/CoOp/vit_b32.yaml --output-dir output/CoOp/vit_b32/imagenet
python train.py --root ./datasets --seed 42 --trainer CoOp --dataset-config-file configs/datasets/imagenet_r.yaml --config-file configs/trainers/CoOp/vit_b32.yaml --output-dir output/CoOp/vit_b32/imagenet
python train.py --root ./datasets --seed 42 --trainer CoOp --dataset-config-file configs/datasets/imagenetv2.yaml --config-file configs/trainers/CoOp/vit_b32.yaml --output-dir output/CoOp/vit_b32/imagenet
python train.py --root ./datasets --seed 42 --trainer CoOp --dataset-config-file configs/datasets/imagenet_sketch.yaml --config-file configs/trainers/CoOp/vit_b32.yaml --output-dir output/CoOp/vit_b32/imagenet

